<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Dungeon Finder</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="find">Find a Game</a></li>
      <li><a href="add">Add opening(s)</a></li>
    </ul>
  </div>
</nav>


<h3>
  Find a game near you!
</h3>

<form>
  <input type="text" name="zipcode" value="zip code">
<br>
<br>
<button type="button" name="button">Search</button>
<br>
<br>
<br>
</form>
