<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Dungeon Finder</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="find">Find a Game</a></li>
      <li><a href="add">Add opening(s)</a></li>
    </ul>
  </div>
</nav>



<h1>About Dungeon Finder</h1>
<br>
<h4>Dungeon Finder is an application for connecting Dungeons and Dragon players in different cities across the US. It provides the opportunity to meet fellow players in your area as well as seeing games and events players you know are attending. The best part of DnD are the characters and stories so go and find some new ones!</h4>
