<!DOCTYPE html>
<html>
  <body>
    <img src="src/assets/dragon.jpg" alt="dragon image" width="600px" height=auto>
    <h2>
      Welcome to Dungeon Finder!
    </h2>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Dungeon Finder</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="find">Find a Game</a></li>
      <li><a href="add">Add opening(s)</a></li>
    </ul>
  </div>
</nav>

  </body>
</html>
